body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    text-align: center;
    margin: auto;
}

#apps {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#app {
    float: left;
    clear: both;
}
